---
layout: index
title: Home
permalink: /
---
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"> </script>
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-microscope" aria-hidden="true"></i>
                
                <h1><span class="iconify" data-icon="fa-solid:microscope"></span></h1>
                <h2>Designing Microscopes with Deep Learning</h2>
              <p>We iuoiuare attempting to design a new breed of microscopes which are geared towards performing a task in the most efficient way possible. Ever since computational resources have become widespread, we have increasingly used machine learning to draw inference from the images taken from microscopes. We take this to next step and use deep learning to inform us about the optimal design of the optical hardware of the microscopes.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <h1><span class="iconify" data-icon="cil:laptop" data-inline="false"></span></h1>
                <span class="sr-only">An image of a laboratory flask</span>
                <h2>Computational Optics Lab</h2>
                <p>This concept was developed in the <a href="http://horstmeyer.pratt.duke.edu/">Computational Optics Lab</a> at Duke University. The lab’s research falls at the intersection of biomedical imaging, biophotonics and algorithm design. We develop new microscopes, cameras and computer algorithms for better biomedical images. The lab is directed by Dr. Roarke Horstmeyer, who is a new Assistant Professor in the Biomedical Engineering Department at Duke Univeristy.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <h1><span class="iconify" data-icon="uil:university" data-inline="false"></span></h1>
                <h2>Education</h2>
                <p>This concept is also explored in a graduate Duke BME-790L course, Machine Learning for Imaging. This class is an overview of machine learning and imaging science, with a focus on the intersection of the two fields. Students will create a machine learning project with an imaging componenet at the end of the course.</p>
                <p><br/><a href="http://deepimaging.github.io" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><!--/container -->
</div><!--/service -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><!--/row -->
</div><!--/container -->
